<a href="https://colab.research.google.com/github/YuanNewuser/NewYorkEnergyUsage/blob/main/Python_Day_1_Session_1_Exercise_DailyPractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
The following table shows the first 5 lines of myData and contains the purchase amount (PurchAmount) and cost (Cost) for different customer ids (Customer). Both PurchAmount and Cost are numeric columns.

Customer	PurchAmount	Cost
149332	15	6
172951	13	1
120621	18	7
149236	14	8
119236	16	4
…	…	…

To generate the entire table myData in Python, please run the following code:
```
import pandas as pd
data = {'Customer':[149332,172951,120621,149236,119236,119237,119286,119299,119300,119301,119402,119405,119406,119510,119511],
        'PurchAmount':[15,13,18,14,16,15,15,14,15,18,18,12,11,14,16],
        'Cost':[6,1,7,8,4,5,7,3,5,1,3,4,2,5,1]
         }
myData = pd.DataFrame(data, columns=["Customer", "PurchAmount", "Cost"])
```
Use the describe() function on the data. What is value of the 25% quantile of the PurchAmount column? Round to the second decimal place.

a. 15.00

b. 14.00

c. 16.00


d. 13.00


e. 13.50


f. 16.00

In [2]:
import pandas as pd

data = {'Customer':[149332,172951,120621,149236,119236,119237,119286,119299,119300,119301,119402,119405,119406,119510,119511],
        'PurchAmount':[11,15,17,14,13,18,18,17,14,16,16,16,19,19,11],
        'Cost':[3,5,4,9,3,3,8,7,9,9,5,5,6,1,4]
}

myData = pd.DataFrame(data, columns=["Customer", "PurchAmount", "Cost"])


describe(myData)

# Calculate the 25th percentile of the 'PurchAmount' column
quantile_25 = myData['PurchAmount'].quantile(0.25)

# Round the result to the second decimal place
quantile_25_rounded = round(quantile_25, 2)

print(quantile_25_rounded)

14.0

Question 2
The following table shows the first 5 lines of myData and contains the purchase amount (PurchAmount) and cost (Cost) for different customer ids (Customer). Both PurchAmount and Cost are numeric columns.

Customer	PurchAmount	Cost
149332	16	2
172951	16	1
120621	12	9
149236	17	4
119236	13	9
…	…	…

To generate the entire table myData in Python, please run the following code:
```
import pandas as pd
data = {'Customer':[149332,172951,120621,149236,119236,119237,119286,119299,119300,119301,119402,119405,119406,119510,119511],
        'PurchAmount':[16,16,12,17,13,15,18,18,13,14,11,13,19,16,11],
        'Cost':[2,1,9,4,9,6,7,4,1,9,9,2,5,5,6]
         }
myData = pd.DataFrame(data, columns=["Customer", "PurchAmount", "Cost"])
```
Which is the mean of the Cost column? Round to the second decimal place.


a. 5.52


b. 7.27


c. 5.27


d. 4.27


e. 5.12


f. 6.32

In [1]:
import pandas as pd

data = {'Customer':[149332,172951,120621,149236,119236,119237,119286,119299,119300,119301,119402,119405,119406,119510,119511],
        'PurchAmount':[16,16,12,17,13,15,18,18,13,14,11,13,19,16,11],
        'Cost':[2,1,9,4,9,6,7,4,1,9,9,2,5,5,6]
}

myData = pd.DataFrame(data, columns=["Customer", "PurchAmount", "Cost"])

# Calculate the mean of the 'Cost' column
mean_cost = myData['Cost'].mean()

# Round the mean to the second decimal place
mean_cost_rounded = round(mean_cost, 2)

print(mean_cost_rounded)

5.27